@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Quicksand:wght@300..700&display=swap');
.container{
    display: flex;
    justify-content: center;
    gap: 1.25rem;
    margin-top: 3.125rem;
    /* max-width: 500px; */

}

