@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Quicksand:wght@300..700&display=swap');
.contatos{
    padding: 1.25rem;
    background-color: #f7f6f9;
    border:1px solid rgb(236, 236, 236);
    display: flex;
    justify-content: space-between;
    border-radius: .1875rem;
    margin: .625rem;
    width: 34rem;
}

.contatos button{
    background-color: #f7f6f9;
    border: .0625rem solid rgb(236, 236, 236);
    border-radius: 3px;
    padding-left: 20px;
    padding-right: 20px;
}

.dados{
    background-color: #f7f6f9;
    min-width: 18rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: right;
}

.dados>div{
    display: flex;
    width: 100%;
}

svg{
    height: 1.13rem;
    width: 1.13rem;
    /* margin-right: 0.5rem; */
}

.info{
    width: 100%;
    font-family: "Questrial", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 5rem;
    padding: 0.2rem;
}

.icons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 5.5rem;
    margin-right: 2rem;
    
}

.icon{
    fill: #40C057;
    width: 1.5rem; /* tamanho do svg */
    height: 1.5rem; /* tamanho do svg */
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin-right: .625rem;
    background-color: white;
    cursor: pointer;
    border-radius: 0.5rem;
}

p{
    font-family: "Quicksand", sans-serif;
    justify-content: flex-start;
    font-weight: 500;
    font-size: 0.8rem;
    color: gray;
    width: 9rem;
}

span{
    font-size: 0.95rem;
    font-weight: 600;
    color: grey;
    background-color: #f7f6f900;
    display: flex;
    justify-content: flex-start;
    width: 8rem;
    margin-right: 0.9rem;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    
    margin-bottom: 0.5rem;
    border-radius: .5rem;
}