@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Quicksand:wght@300..700&display=swap');
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    margin-top: 1.5rem;
    /* height: auto; */
    /* max-width: 500px; */

}
.secaoum{
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    gap: 0.625rem;

}

@media (max-width:900px) {
    .secaoum{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
