@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&family=Questrial&family=Quicksand:wght@300..700&display=swap');

svg{
    height: 3rem;
    width: 3rem;
}

path{
    height: 2rem;
    width: 2rem;
    font-size: xx-large;
}
.icon{
    fill: #40C057;
    width: 1.7rem;
    height: 1.7rem;
    display: inline-block;
    text-align: center;
    margin-top: .625rem;
    background-color: rgb(236, 236, 236);
    
}

.titulo{
    color: #40C057;
    font-weight: bolder;
    font-family: "Questrial", sans-serif;
}

.subtitulo{
    font-weight: 400;
    font-size: medium;
    font-family: "Questrial", sans-serif;
    white-space: pre;
}

.cabecalho{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    color:#606061
}

