@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&family=Questrial&family=Quicksand:wght@300..700&display=swap');

.icon{
    fill: #40C057;
    width: 2.5rem; /* tamanho do svg */
    height: 2.5rem; /* tamanho do svg */
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin-right: .625rem;
    margin-bottom: .3rem;
    background-color: white;
}

.titulo{
    color: #40C057;
    font-weight: bolder;
    font-family: "Questrial", sans-serif;
    margin-top: 1.5rem;
    font-size: 30px;
}

.subtitulo{
    display: flex;
    font-weight: 400;
    font-size: 1rem;
    font-family: "Questrial", sans-serif;
    white-space: pre;
    margin-top: 1rem;
    margin-bottom: 1.3rem;
}

.cabecalho{
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    color:#606061;
    background-color: white;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    border-top: .2rem solid #40C057;
    border-left: .2rem solid #40C057;
    border-right: .2rem solid #40C057;
    width: 100%;
    max-width: 41rem;
}

@media (max-width:650px) {
    .cabecalho{
        width: 50%;
    }
}

