@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Quicksand:wght@300..700&display=swap');
.agenda_container{
    justify-content: space-between;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.salvar_na_agenda{
    padding: 0.5rem;
    border: 1px solid #1AC257;
    margin-top: 10px;
    width: 100%;
    border-radius: 3px;
    max-width: 25rem;
    font-family: 'questrial', sans-serif;
    background-color: #1AC257;
    color: white;
    
}

.numero{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 10px;
    margin-bottom: 20px;
    
}

/* .pais{
    padding:5px 0px 5px 5px;
    border-radius: 3px;
    border-style:solid;
    background-color: #f7f6f9;
    border: 1px solid rgb(236, 236, 236);
    height: 2.1rem;
    } */
    
    select{
        padding:5px 5px 5px 5px;
        border-radius: 3px;
        border-style:solid;
        background-color: #f7f6f9;
        border: 1px solid rgb(236, 236, 236);
        height: 2.1rem;
        width: 100%;
        font-family: 'questrial', sans-serif;
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
    }
    
    .nome{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    
    .botao{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #1AC257;
        border-radius: 3px;
    }
    
    .agenda{
        display: flex;
        flex-direction: column;
        gap: 0.5rem; /* reduced */
        padding: 1rem; /* reduced */
    border-radius: .5rem;
    border-right: .2rem solid #40C057;
    border-top-right-radius: 0.01rem;
    border-bottom-right-radius: 0.01rem;
    width: 100%;
    max-width: 18rem; /* more compact */
    height: 26rem;
    background-color: white;
    font-family: "Questrial", sans-serif;
}

.agenda input{
    padding:5px 0px 5px 5px;
    border-radius: 3px;
    border: 1px solid rgb(236, 236, 236);
    width: 100%;
    background-color: #f7f6f9;
}

.agenda textarea{
    padding: 5px 0px 5px 5px;
    border: 1px solid rgb(236, 236, 236);
    border-radius: 3px;
    border-style: solid;
    width: 100%;
    background-color: #f7f6f9;
}

/* ensure background rules */
p{background-color: white}
h4{background-color: white}
h2{background-color: white}